<div class="team-member">
    <div class="team-member-photo">
        {% pimcore_image('photo', {
            thumbnail: 'teamMember'
        }) %}
    </div>
    <div class="team-member-text">
        {% pimcore_wysiwyg('text') %}
    </div>
</div>